.add-collection {
  margin: 20px;
  width: 900px;
  margin: auto;
  margin-top: 10px;
}
.card {
  margin-top: 10px;
  border: none;
}

#collection-card {
  background-image: linear-gradient(
    to right bottom,
    #0d4496,
    #0f3f97,
    #320f84,
    #1f1d88,
    #300a89
  );
  border: none;
}
